/***   TAG SELECTORS   ***/
body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

div {
    background-color: white;
    border-radius: 5%;
    margin: 120px auto;
    padding: 0.7%;
    width: 18%;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    padding: 15px;
    width: 80%;
}

img {
    border-radius: 5%; 
    margin-top: 8px;
    width: 95%;
}

p {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: auto;
    padding: 10px;
    width: 75%;
}

/***   CLASS SELECTORS   ***/


/***   ID SELECTORS   ***/